@import "src/styles/forms-cnt";

.profile-data {
  padding: 5rem;
  display: flex;
  justify-content: center;
  width: 100%;

  &__user {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-right: 4rem;
  }

  &__user-image-wrapper {
    position: relative;
  }

  &__user-icon {
    width: 100px !important;
    height: 100px !important;
    font-size: 3rem !important;
    background-color: $contrast-color !important;
  }

  &__edit-image {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: $primary-color;
    border-radius: 50%;
    border: 3.5px solid white;
    font-size: 2rem !important;
    padding: .15rem;
    cursor: pointer;
    color: white;
  }

  &__image-chooser {
    display: none;
  }

  &__user-name-cnt {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-top: 1rem;
  }

  &__user-name {
    color: $primary-color;
    font-weight: 500;
    font-size: 1.4rem;
  }

  &__user-location-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: .5rem;
    font-size: .85rem;
  }

  &__user-location {
    color: rgba(0, 0, 0, 0.6);
  }

  &__change-data-form {
    padding: 2rem;
    background-color: white;
    box-shadow: 0 0 8px rgba(0, 0, 0, .08);
    border-radius: 4px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 400px));
    grid-column-gap: 4rem;
    grid-row-gap: 1.5rem;
  }
}