@import "src/styles/forms-cnt";

.profile-data {
  padding: 150px 10rem 0 5rem;
  margin-left: 300px;

  &__user {
    display: flex;
    align-items: center;
  }

  &__user-icon {
    width: 100px !important;
    height: 100px !important;
    font-size: 3rem !important;
    background-color: $contrast-color !important;
  }

  &__user-name-cnt {
    margin-left: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  &__user-name {
    color: $primary-color;
    font-weight: 500;
    font-size: 1.4rem;
  }

  &__user-location-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: .5rem;
    font-size: .85rem;
  }

  &__user-location {
    color: rgba(0, 0, 0, 0.6);
  }

  &__change-data-form-container {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__change-data-form {
    width: 100%;
    display: grid;
    grid-template-columns: 40% 40%;
    grid-column-gap: 4rem;
    grid-row-gap: 1.5rem;
  }


}