@import 'src/styles/variables';

.header {
    position: fixed;
    top: 35px;
    width: 100%;
    height: 65px;
    display: flex;
    z-index: 100;
    justify-content: space-between;
    padding: 0 1.5rem;
    align-items: center;
    background-color: white;
    transition: box-shadow .25s ease-in-out;

    &--box-shadow {
        box-shadow: 0 1px 5px rgba(0,0,0,.1);
    }

    & a:first-child {
        text-decoration: none;
    }

    &__logo {
        width: 160px;
        height: auto;
    }

    &__buttons-container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .MuiSvgIcon-root {
            color: $secondary-color;
            cursor: pointer;
            width: 26px;
            height: auto;
            transition: color .2s ease-out;

            &:hover,
            &:active {
                color: $secondary-color;
                transition: color .2s ease-in;
            }
        }

        & span {
            color: $dark-color;
        }

        & > *:not(.header__user-wrapper) {
            margin-right: 1rem;
        }
    }

    &__products,
    &__news,
    &__about,
    &__contact {
        color: rgba(255, 255, 255, 0.5);
        cursor: pointer;
        transition: color .2s ease-in-out;

        &:hover,
        &:active {
            color: $dark-color;
        }
    }

    &__btn {
        padding: .5rem 1.5rem;
        border-radius: 4px;
        text-decoration: none;
        border: 1px solid $dark-color;
        background-color: transparent;
        color: $dark-color;
        transition: all .25s ease-in-out;

    }

    &__signin-btn {
        &:hover {
            background-color: $dark-color;
            color: $primary-color;
        }
    }

    &__signout-btn {
        border-color: $contrast-color;
        color: $contrast-color;

        &:hover {
            background-color: $contrast-color;
            color: $primary-color;
        }
    }

    &__user-wrapper {
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    &__user {
        background-color: $contrast-color !important;
        margin-right: .5rem;
    }

    &__arrow-down {
        border: solid rgba(255, 255, 255, 0.5);
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 2px;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transition: transform .2s ease-in-out;

        &.active {
            transform: rotate(-135deg);
        }
    }

    &__menu-icon {
        display: none !important;
        margin-right: 0;
        color: rgba(255, 255, 255, 0.5) !important;

        & path {
            transition: color .25s ease-in-out;
        }

        &:hover path {
            color: $dark-color;
        }
    }

    @media screen and (max-width: 900px) {

        &__buttons-container > *:not(.header__user-wrapper) {
            display: none;
        }

        &__menu-icon {
            display: inline-block !important;
            margin-right: 0 !important;
            margin-left: 1rem;
        }
    }
}