@import 'src/styles/variables';

.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 65px;
    display: flex;
    z-index: 100;
    padding: 0 1.5rem;
    align-items: center;
    background-color: white;
    transition: box-shadow .25s ease-in-out;

    &--active {
        box-shadow: 0 1px 5px rgba(0,0,0,.1);
    }

    &__logo {
        width: 140px;
        height: auto;
    }

    &__items-container {
        height: 100%;
        display: flex;
        margin-left: 2.5rem;
        transition: all .2s ease-in-out;

        &:hover .header__item:not(:hover) {
            opacity: .7;
        }
    }

    &__item {
        height: 100%;
        align-items: center;
        text-decoration: none;
        color: $dark-color;
        font-size: 14px;
        line-height: 65px;
        position: relative;
        transition: color .2s ease-in-out;

        &:not(:first-of-type) {
            margin-left: 1.5rem;
        }

        &::after {
            content: '';
            position: absolute;
            bottom: 1px;
            left: 0;
            width: 100%;
            height: 3px;
            background-color: $contrast-color;
            transform: scale(0, 1);
            transition: transform 0.35s;
            transform-origin: 50% 0%;
        }

        &:hover::after{
            transform: scale(1, 1);
        }

        &:hover {
            color: $dark-color;
        }
    }

    &__buttons-container {
        display: flex;
        align-items: center;
        margin-left: auto;
    }

    &__signin-btn {
        font-size: 14px;
        text-decoration: none;
        color: $dark-color;
        transition: color .15s ease-in-out;
        margin-right: 1rem;

        &:hover {
            color: $contrast-color;
        }
    }

    &__signup-btn {
        padding: .75rem 1.75rem;
        border-radius: 4px;
        font-size: 14px;
        text-decoration: none;
        background-color: $contrast-color;
        color: white;
        transition: background-color .2s ease-in-out;

        &:hover {
            background-color: $primary-color;
        }
    }

    &__user-wrapper {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        cursor: pointer;
        width: 80px;
        border-radius: 27.5px;
        border: 1px solid $border-color;
        padding: .4rem .3rem;
        transition: box-shadow .15s ease-in-out;

        &:hover,
        &--active {
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.18);
        }
    }

    &__user {
        background-color: $contrast-color !important;
        width: 30px !important;
        height: 30px !important;
        font-size: 1rem !important;
        pointer-events: none;
    }

    &__menu-icon {
        display: none !important;
        margin-right: 0;
        color: $dark-color !important;
        cursor: pointer;

        & path {
            transition: color .25s ease-in-out;
        }

        &:hover path {
            color: $dark-color;
        }
    }

    @media screen and (max-width: 900px) {

        &__items-container {
            display: none;
        }

        &__menu-icon {
            display: inline-block !important;
            margin-right: 0 !important;
            margin-left: 1rem;
        }
    }
}