@import './_variables';

.form-wrapper {
  padding-top: 180px;
  display: flex;
  margin: 0 auto;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 0 1.75rem;


  &__title {
    color: $dark-color;
    font-weight: 500;
    margin-bottom: 1rem;
    text-align: center;
  }

  &__form {
    width: 35%;
    min-width: 340px;
  }

  &__submit-btn {
    width: 100%;
    height: 56px;
    border: none;
    color: white;
    font-weight: 500;
    font-size: 1rem;
    background-color: $primary-color;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 2rem;
    transition: all .2s cubic-bezier(0, 0, .58, 1);

    &:disabled {
      background-color: white;
      border: 1px solid $primary-color;
      color: $primary-color;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: no-drop;
    }
  }

  & div.MuiFormControl-root {
    margin-top: 1rem;
  }

  @media screen and (max-width: 900px) {
    & {
      padding-top: 75px;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      margin: 0;
    }

    &__form {
      width: 90%;
      min-width: unset;
      max-width: 450px;
    }
  }

  @media screen and (max-width: 520px) {
    &__registration-img,
    &__login-img {
      width: 80%;
      height: auto;
    }
  }

  .loader {
    margin-left: 1rem;
  }

  .validation-error-msg {
    display: block;
    width: 100%;
    color: red;
    font-size: .85rem;
    float: left;
    margin-top: .25rem;
  }

}
