@import '../../styles/_variables';

.header {
    position: fixed;
    width: 100%;
    height: 75px;
    display: flex;
    z-index: 100;
    justify-content: space-between;
    padding: 0 1.5rem;
    align-items: center;
    background-color: $primary-color;

    &__logo-container {
        display: flex;
        align-items: center;
    }

    &__logo-icon {
        position: relative;
        bottom: 1px;
    }

    & a:first-child {
        text-decoration: none;
    }

    &__logo {
        color: white;
        font-size: 2rem;
        font-family: 'Poiret One', cursive;
        letter-spacing: 8px;
        margin-left: .5rem;
    }

    &__buttons-container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .MuiSvgIcon-root {
            color: $secondary-color;
            cursor: pointer;
            width: 26px;
            height: auto;
            transition: color .2s ease-out;

            &:hover,
            &:active {
                color: $secondary-color;
                transition: color .2s ease-in;
            }
        }

        & > * {
            margin-right: 1rem;
        }

        & > a:last-of-type{
            margin-right: 0;
        }
    }

    &__products,
    &__news,
    &__about,
    &__contact {
        color: white;
        cursor: pointer;
        transition: color .25s ease-in-out;

        &:hover {
            color: $contrast-color;
        }
    }

    &__btn {
        padding: .5rem 1.5rem;
        border-radius: 4px;
        text-decoration: none;
        border: 1px solid white;
        background-color: transparent;
        color: white;
        transition: all .25s ease-in-out;

    }

    &__signin-btn {
        &:hover {
            background-color: white;
            color: $primary-color;
        }
    }

    &__signout-btn {
        border-color: $contrast-color;
        color: $contrast-color;

        &:hover {
            background-color: $contrast-color;
            color: $primary-color;
        }
    }

    &__user {
        background-color: $contrast-color !important;
        cursor: pointer;
    }

    &__menu-icon {
        display: none !important;
        margin-right: 0;
    }

    @media screen and (max-width: 900px) {

        &__buttons-container > * {
            display: none;
        }

        &__menu-icon {
            display: inline-block !important;
        }
    }
}