@import 'src/styles/variables';

@keyframes slide-in {
    from {
        right: -200px
    }
    to {
        right: 0px
    }
}

.sidebar {
    position: fixed;
    right: 0;
    z-index: 102;
    height: 100vh;
    background: $dark-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform .3s ease-out;
    width: 180px;
    animation: slide-in .5s;
    padding: 0 1rem;

    &__close-cnt {
        border-bottom: 1px solid white;
        margin: 1.5rem 0;
        width: 100%;
        text-align: center;
    }

    &__close {
        color: white;
        cursor: pointer;
        margin-bottom: .5rem;
    }

    &__nav {
        width: 100%;
        flex: 1;
    }

    &__list {
        list-style: none;
        height: 100%;
    }

    &__item {
        position: relative;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all .2s cubic-bezier(0, 0, .58, 1);
        border-right: 3px solid transparent;
        border-left: 3px solid transparent;;

        &:hover {
            border-color: $secondary-color;

            &::before,
            &::after {
                content: '';
                transition: all .2s cubic-bezier(0, 0, .58, 1);
            }
        }

        &:hover .sidebar__item-link,
        &:hover .sidebar__icon {
            color: $secondary-color;
        }

        &::before {
            content: none;
            position: absolute;
            top: 50%;
            left: -.5px;
            transform: translateY(-50%);
            border-left: 5px solid $secondary-color;
            border-top: 5px solid transparent;
            border-bottom: 5px solid transparent;
        }

        &::after {
            content: none;
            position: absolute;
            top: 50%;
            height: 0;
            width: 0;
            right: -.5px;
            transform: translateY(-50%);
            border-right: 5px solid $secondary-color;
            border-top: 5px solid transparent;
            border-bottom: 5px solid transparent;
        }
    }

    &__item-link {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: white;
        text-align: left;
        transition: all .15s cubic-bezier(0, 0, .58, 1);
        position: relative;
        width: 95%;
        height: 100%;
    }

    &__item-name {
        font-size: 1.1rem;
        margin-top: .5rem;
        text-transform: uppercase;
        font-weight: 300;
    }

    &__icon {
        color: white;
        transition: all .15s cubic-bezier(0, 0, .58, 1);
    }

    &__bottom-buttons {
        width: 100%;
        padding-top: .75rem;
        border-top: 1px solid white;
        margin-bottom: .5rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__home-icon {
        color: white;
    }
}