@import 'src/styles/variables';

@keyframes slide-in {
    from {
        right: -200px
    }
    to {
        right: 0px
    }
}

.sidebar {
    position: fixed;
    right: 0;
    z-index: 102;
    height: 100%;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform .3s ease-out;
    width: 180px;
    animation: slide-in .5s;
    padding: 0 1rem;
    overflow: auto;

    &__close-cnt {
        border-bottom: 1px solid $dark-color;
        margin: .75rem 0 1.5rem;
        width: 100%;
        text-align: center;
    }

    &__close {
        color: $dark-color;
        cursor: pointer;
        margin-bottom: .5rem;

        &:hover {
            transition: all .2s cubic-bezier(0, 0, .58, 1);
            color: $contrast-color;
        }
    }

    &__nav {
        width: 100%;
        flex: 1;
    }

    &__list {
        list-style: none;
    }

    &__item {
        position: relative;
        height: 50px;
        margin: 2rem .75rem 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-right: 3px solid transparent;
        border-left: 3px solid transparent;
        border-radius: 10px;
    }

    &__item-link {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: $dark-color;
        text-align: left;
        position: relative;
        width: 95%;
        height: 100%;

        &:hover,
        &:hover .sidebar__icon,
        &:active,
        &:active .sidebar__icon {
            transition: all .2s cubic-bezier(0, 0, .58, 1);
            color: $contrast-color;
        }
    }

    &__item-name {
        font-size: 1.1rem;
        margin-top: .5rem;
        text-transform: uppercase;
        font-weight: 300;
    }

    &__icon {
        color: $dark-color;
    }

    &__signup-signin-container {
        margin-top: 3rem;
        padding: 1rem 0;
        border-top: 1px solid $dark-color;
    }

    &__signup a &__item-name,
    &__signin a &__item-name {
        margin-top: 0;
    }

    &__signin {
        margin-top: 1.75rem;
    }

    &__bottom-buttons {
        width: 100%;
        padding-top: .75rem;
        border-top: 1px solid $dark-color;
        margin-bottom: .5rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__home-icon {
        color: $dark-color;

        &:hover .sidebar__icon {
            transition: all .2s cubic-bezier(0, 0, .58, 1);
            color: $contrast-color;
        }
    }
}