@import './styles/_variables.scss';

body {
  &::-webkit-scrollbar {
    width: 8px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: $secondary-color;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #c3c3c3;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}