@import '../../../styles/_variables';

.login-alert {
  width: 100%;
  border-radius: 4px;
}

.login-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  &__submit-btn {
    width: 100%;
    height: 56px;
    border: none;
    color: white;
    font-weight: 500;
    font-size: 1rem;
    background-color: $primary-color;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 2rem;
  }
}